@import "tailwindcss";


@layer components {
  .primary {
    background-color: rgb(20, 20, 59);
  }
  .primary-text {
    color: rgb(20, 20, 59);
  }
}

/* main styles */
#checkbox-1:checked ~ .check-1 {
  @apply opacity-100;
}